body {
    background:#eee;
    padding:0;
    margin:0;
}
.dayTitle {
    font-size:40px;
    align-items: center;
}
ul {
    padding:0;
    list-style:none;
    border:2px solid rgb(71, 47, 1);
    display:flex;
    width:fit-content;
    height:fit-content;
    gap:20px;
}
li {
    display:flex;
    border: 1px dotted black;
    flex-direction: column;
    justify-content: center;
    padding:15px;
    text-align: center;
    width:100px;
    height:100px;
}
.bodyContainer {
    display:grid;
    grid-template-rows: repeat(auto-fit, 150px);
    gap:12px;
}
#loc {
    border: 2px solid gray;
    border-radius:4px;
}
#search {
    border: 2px solid black;
    border-radius:4px;
    background:black;
    color:white;
    font-weight:900;
}